{% extends "base.html" %}

{% block body %}

<form action="" method="POST">

    {{ form.hidden_tag() }}
    {{ form.password1.label }} <br>
    {{ form.password1(size = 40) }}
    {% for error in form.password1.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br>
    {{ form.password2.label }} <br>
    {{ form.password2(size = 40) }}
    {% for error in form.password2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br>
    {{ form.submit() }}

</form>


{% endblock %}